
    <div class="form-group">
    <label>Nome</label>
    <input type="text" class="form-control" [(ngModel)]="Name">
  </div>
  <div class="form-group">
    <label>Adress</label>
    <input type="text" class="form-control" [(ngModel)]="Adress">
  </div>
  <div class="form-group">
    <label>Latitude</label>
    <input type="text" class="form-control" [(ngModel)]="Latitude">
  </div>
  <div class="form-group">
    <label>Longitude</label>
    <input type="text" class="form-control" [(ngModel)]="Longitude">
  </div>
  <div class="form-group">
    <label>Contact</label>
    <input type="text" class="form-control" [(ngModel)]="Contact">
  </div>
  <div class="form-group">
    <label>Email</label>
    <input type="text" class="form-control" [(ngModel)]="Email">
  </div>
  <div class="form-group">
    <label>Facebook</label>
    <input type="text" class="form-control" [(ngModel)]="Facebook">
  </div>

  <button type="submit" (click)="Addgym()" *ngIf="Id == 0" class="btn btn-primary">Adicionar</button>
  <button type="submit" (click)="Updategym()" *ngIf="Id != 0" class="btn btn-primary">Upddate</button>

    
        
      

